{{ define "main" }}
<div class="home">
  <!-- prettier-ignore -->
  {{ partial "landing.html" (dict "landingSlogan" "Where everything matters" "landingSubSlogan" "A community you can learn all about AWS" "landingText" "The purpose of the group is to share knowledge about AWS services and general cloud computing, AI, and DevOps between users, professionals, and AWS experts in the 3city area. Anyone who is interested in learning more about AWS can join the group."  )}}
  {{ partial "sponsors.html" .}}
  {{ partial "action.html" .}}
  {{ partial "feedback.html" .}}
  {{ partial "subscribe.html" .}}
</div>
{{ end }}
