{{ define "main" }} {{ $css := resources.Get "css/about.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<div class="about-section">
  <div class="about-left">
    <div class="text-area">
      <div id="top-mini-slogan">Introducing AWS UG 3City</div>
      <h1 id="slogan-first">Learn, Meet, Inspire</h1>
      <h2 id="slogan-second">
        Our community gladly welcomes everyone
      </h2>
    </div>
    <div class="about-image warm-img-filter">
      <img src="images/about-1-3city.jpeg" alt="" />
    </div>
  </div>
  <div class="about-right">
    <div class="text-area">
      <div class="intro-text">
        Hello, world! We are the official AWS User Group 3city (Gdansk, Sopot, Gdynia) is a peer-to-peer community that meets regularly to share ideas, answer questions, and learn about new services and best practices (Amazon Web Services aws.amazon.com). The purpose of the group is to share knowledge about AWS services and general cloud computing, AI, and DevOps between users, professionals, and AWS experts in the 3city area.
      </div>
    </div>
    <div class="about-image warm-img-filter">
      <img src="images/about-2-3city.jpeg" alt="" />
    </div>
    <div class="intro-text">
      Anyone who is interested in learning more about AWS can join the group. At events, you will learn about new AWS services and features, network with other AWS users, and share your experiences. The main group language is English because a lot of people just relocated from other countries to 3city and we believe not everyone can speak Polish for now.
    </div>
  </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}