<!-- CSS Reference: /assets/css/partials/feedback.css -->
{{ $css := resources.Get "css/partials/feedback.css" }}
<link rel="stylesheet" href="{{ $css.Permalink }}" />

<div class="feedback-section">
    <div class="feedback-left">
      <div class="feedback-item">
        <img src="images/feedback1.png" alt="" />
      </div>
    </div>
    <div class="feedback-right">
      <div class="feedback-slogan">
        <h3 class="feedback-title">Your Community. Your Opinion.</h3>
        <p class="feedback-text">
          At events, you will learn about new AWS services and features, network with other AWS users, and share your experiences. The main group language is English because a lot of people just relocated from other countries to 3city and we believe not everyone can speak Polish for now.
        </p>
        <a href="/feedback.html">
          <div class="feedback-button">
            <img src="images/button-white.png" alt="Feedback button" />
            <span class="feedback-button-text">Contact</span>
          </div>
        </a>
      </div>
    </div>
  </div>